* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: ;
}
body {
  background-color: rgb(0, 128, 255);
}
#navBar {
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 0.8rem 0 white;
}
#navBar nav {
  background-color: rgb(0, 128, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: auto;
  overflow: hidden;
}
#navBar nav ul {
  display: flex;
  gap: 1rem;
}
#navBar nav ul li {
  list-style: none;
  padding: 5% 18px;
}
#navBar nav ul li a, span{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
#navBar nav ul a:hover  {
  color: rgb(220, 20, 110);
  transition: all 0.2 ease;
}
#navBar nav ul li:hover {
  background-color: rgba(0,0,0, 0.8);
  color: rgb(220, 20, 110);
  transition: all 0.2;
}
#navBar i {
  display: none;
  position: absolute;
  right: 12px;
  color: rgb(19, 18, 18);
  font-size: 33px;
  padding: 0;
  background-color: rgb(0, 128, 255);
}
/* Home section  */
.home {
  height: 70vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(0, 128, 255);
}
.home img {
  width: 40%;
  height: auto;
  border-radius: 4px;
  margin-left: 1rem;
}
.home .text-content {
  color: white;
  font-size: 24px;
}
.aboutContainer {
  background-color: rgb(0, 128, 255);
}
h1 {
  color: white;
  text-align: center;
  font-size: 36px;
  text-decoration: 4px underline rgba(0, 0, 0, 0.8);
}
.aboutdisplayflex, .goalsDisplayFlex{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.align {
  background: white;
  text-align: justify;
  font-size: 1.5rem;
  border-radius: 2px;
  overflow: auto;
  margin: 2rem;
}
.align:hover:not(2) {
  background-color: rgb(173, 167, 167);
}
p, li {
  text-align: justify;
  padding: 5px 1rem;
}
h1, h2, h3 {
  text-align: center;

}
li {
  list-style: none;
}
.align h2 {
  color: rgb(0, 128, 255);
}
.align a {
  color: white;
  margin: 0 1rem;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 6px;
  background-color: rgb(0, 128,255);
}.align a:hover {
  background-color: rgba(0, 0,0, 0.8);
  color: white;
}
.myjourney {
  margin: 1rem auto;
  background-color: rgb(0, 128, 255);
  color: white;
  font-size: 36px;
}
.myjourney h2 {
  color: wheat;
  text-align: center;
}
.myjourney a {
  background-color: rgba(0, 0,0, 0.8);
  color: rgb(0, 128,255);
}
/* PROJECTS  */
.projects {
  margin:2rem;
}
.projo ul  {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projo li {
  width: 400px;
  padding:  2rem;
  margin: 1rem auto;
  background-color: rgb(53, 143, 221);
  border-radius: 6px;
}
.projo li a {
  align-items: center;
  text-decoration: none;
  font: 24px bolder;
  color: white;
}
   /* FOOTER  */
.letsTalk {
  text-align: center;
}
 .letsTalk a{
  text-decoration: none;
  color: white;
  padding: 12px 1.5rem;
  background-color: rgb(17, 74, 160);
  border-radius: 4px;
 }
 .letsTalk a:hover {
  background-color: rgba(0, 0,0, 0.8);
 }
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  margin: 1rem;
}
i {
  color: white;
  padding: 6px;
  margin: 8px;
  background-color: rgb(16, 17, 18);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex a{
  text-decoration: none;
  color: black;
}

 /* MEDIA QUERY  */ 
 @media (max-width:768px) {
  #navBar span {
    display: inline;
  }
  #navBar nav {
    height: 100%;
  }
  #navBar nav #nav {
    display: none;
    max-height: 100%;
    margin-top: 2.5rem;
    gap: 1rem;
  }
  #navBar nav ul li {
    list-style: none;
    padding: 15% 20px;
  }
  #navBar i {
    display: block;
  }
 }