* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: ;
}
body {
  background-color: rgb(0, 128, 255);
}
#navBar {
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 0.8rem 0 white;
}
#navBar nav {
  background-color: rgb(0, 128, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: 56px;
  overflow: hidden;
}
#navBar nav ul {
  display: flex;
  gap: 1rem;
}
#navBar nav ul li {
  list-style: none;
  padding: 5% 18px;
}
#navBar nav ul li a, span{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
#navBar nav ul a:hover  {
  color: rgb(220, 20, 110);
  transition: all 0.2 ease;
}
#navBar nav ul li:hover {
  background-color: rgba(0,0,0, 0.8);
  color: rgb(220, 20, 110);
  transition: all 0.2;
}
/* Home section  */
.home {
  height: 70vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(0, 128, 255);
}
.home img {
  width: 40%;
  height: auto;
  border-radius: 4px;
  margin-left: 1rem;
}
.home .text-content {
  color: white;
  font-size: 24px;
}
.aboutContainer {
  background-color: rgb(0, 128, 255);
}
h1 {
  color: white;
  text-align: center;
  font-size: 36px;
  text-decoration: 4px underline rgba(0, 0, 0, 0.8);
}
.aboutdisplayflex, .goalsDisplayFlex{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.align {
  max-height: 400px;
  min-width: 200px;
  max-width: 360px;
  background: white;
  text-align: justify;
  font-size: 1.5rem;
  border-radius: 2px;
  overflow: auto;
  margin: 0 auto;
}
.align:hover:not(2) {
  background-color: rgb(173, 167, 167);
}
.align p {
  text-align: justify;
  margin: 12px;
}
.align h2 {
  color: rgb(0, 128, 255);
}
.align a {
  color: white;
  margin: 0 1rem;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 6px;
  background-color: rgb(0, 128,255);
}.align a:hover {
  background-color: rgba(0, 0,0, 0.8);
  color: white;
}
.myjourney {
  max-width: 80%;
  min-width: none;
  max-height: none;
  min-height: none;
  margin: 1rem auto;
  background-color: rgb(0, 128, 255);
  color: white;
  font-size: 36px;
}
.myjourney h2 {
  color: wheat;
  text-align: center;
}
.myjourney a {
  background-color: rgba(0, 0,0, 0.8);
  color: rgb(0, 128,255);
}
